<launch>

    <rosparam command="load" file="$(find lab_3)/yaml/urdf.yaml"/>

    <param name="robot_description" command="xacro --inorder '$(find lab_3)/urdf/dynamic.urdf'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	
    <param name ="joint_state_publisher_gui" value="true"/>
    <param name ="use_gui" value="true"/>

    <node name="rviz" pkg="rviz" type="rviz" args ="-f BASE" required="true"/>
	
    <node name="NONKDL_DKIN" pkg="lab_3" type="NONKDL_DKIN.py" launch-prefix="gnome-terminal -e"/>

</launch>
