<launch>
    <rosparam command="load" file="$(find lab_two)/yaml/urdf.yaml"/>
	<!--rosparam command="load" file="$(find lab_two)/yaml/dh.json" /-->

    <param name="robot_description" command="xacro --inorder '$(find lab_two)/urdf/dynamic.urdf'"/>
    <param name ="joint_state_publisher_gui" value="true"/>
    <param name ="use_gui" value="true"/>
	
    <node name="NONKDL_DKIN" pkg="lab_two" type="ALT_NONKDL_DKIN.py" launch-prefix="gnome-terminal -e"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args ="-f BASE" required="true"/>
    <!--node name="talker" pkg="lab_two" type="talker.py" output="screen"/-->
    <!--node name="listener" pkg="lab_two" type="listener.py" output="screen"/-->
</launch>